nav { 
    background-color: #314588;
}

nav div ul li a {
    color:#8A8DBA;
}

nav div ul li a:hover {
    color:#F7F8FF;
}

nav div ul li a:active {
    color:#F7F8FF;
}

nav div ul li .active {
    color:#F7F8FF;
}