<h2>Mon cursus scolaire</h2>

<hr />
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let school of schools">
            <div >
                <span class="pull-right">
                    <img 
                    [src]="school.logo" 
                    alt="{{ school.name }}" 
                    class="img-responsive" 
                    style="max-height: 5em;"
                    style="max-width: 5em">
                </span>
                <h4 class="list-group-item-heading"
                style="font-weight: 700x;">{{ school.name }}</h4>
                
                <a href="{{ school.diplome_link }}" class="list-group-item-text"
                style="font-weight: bold">{{ school.diplome }}</a>
                <p class="list-group-item-text">{{ school.date_arrival }} - {{ school.date_departure }}</p>
                <br />
                <p style="font-style: italic;">{{ school.description }}</p>
            </div>
            
        </a>
    </div>
</div>