<h2>Mes expériences professionnelles</h2>

<hr />
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let work of works">
            <div >
                <span class="pull-right">
                    <img 
                    [src]="work.logo" 
                    alt="{{ work.name }}" 
                    class="img-responsive" 
                    style="max-height: 4em;"
                    style="max-width: 4em">
                </span>

                <h4 class="list-group-item-heading"> 
                    <a href="{{ work.company_link }}">{{ work.name }}</a> 
                </h4>
                
                <p class="list-group-item-text"
                style="font-weight: bold;
                color:#00154E;">{{ work.poste }}</p>
                <p class="list-group-item-text">{{ work.date_arrival }} - {{ work.date_departure }}</p>
                <br />
                <p style="font-style: italic;">{{ work.description }}</p>
            </div>
        </a>
    </div>
</div>