
/* Les deux propriétés suivantes permettent de pousser le footer en bas de la page */
html {
    position:relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

/* Le même style est appliqué à tous les h2 */
h2 {
    color: #314588;
    font-weight: bolder;
    text-align: center;
}

hr {
    width: 80%;
}
