<div class="row">
<div class="col-sm-12">

<h2>Ce que je sais faire avec un ordinateur</h2>
<button class="btn btn-primary" (click)="onAnimate()">Animate!</button>

<hr />

<ul>
    <li>
        <p>Angular</p>
        <div
        style="width: 50px; height: 20px;" 
        [@divState]="state">
        </div>
        <br />
    </li>
    <li>
        <p>HTML</p>
        <div
        style="width: 50px; height: 20px;" 
        [@divState]="state">
        </div>
        <br />
    </li>
    <li>
        <p>CSS</p>
        <div
        style="width: 50px; height: 20px;" 
        [@divState]="state">
        </div>
        <br />
    </li>
    <li>
        <p>JavaScript</p>
    </li>
    <li>
        <p>Python</p>
    </li>
    <li>
        <p>Go</p>
    </li>
    <li>
        <p>SQL</p>
    </li>
    <li>
        <p>Java</p>
    </li>
    <li>
        <p>Haskell</p>
    </li>
</ul>

</div>
</div>